bpao-input-file {
	.file-place{
		margin: 5px;
		border: 1px dashed white;
		width: 120px;
		max-height: 20px;
		overflow: hidden;
		word-break: break-all;
	}
	input{
		opacity: 0;
		width: 1px;
		height: 1px;
	}
}