.input-no-native{
	/* Firefox */
  -moz-appearance: textfield;

	/* Chrome, Safari, Edge, Opera */
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	&:focus{
	    outline: none;
	}
}

.scrollable-number-input{
	display: inline-block;
	margin: 2px -10px 5px 5px;
	input{
        cursor: w-resize;
        background: #313131;
        color: white;
        border: none;
        text-align: center;
        border-radius: 10px;
	}
}