bpao-graphics-visualize-canvas {
	.content{
		margin-top: 0 !important;
	}
	canvas{
		width: 280px;
		max-height: 240px;
		display: block;
		border-bottom: 1px dashed white;
		margin-bottom: 2px;
	}
}